<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Book Store - Admin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

<main role="main" style="margin-left: 3em">
    <div class="starter-template">
        <h1>Book Store</h1>
        <h2>
            <span Hello Admin></span>
        </h2>
    </div>

    <button class="btn btn-primary" id="addBookBtn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseAddBook"
            aria-expanded="true" aria-controls="collapseAddBook">
        Add Book
    </button>
    <br/>
    <div class="collapse show" id="collapseAddBook">
        <div class="card card-body" style="width: 50%">
            <form action="#" th:action="@{/admin/addBook}" th:object="${book}" method="post">
                <span th:insert="admin/bookForm.html :: bookForm "></span>
                <input type="submit" value="Save">
            </form>
        </div>
    </div>

    <br/>
    <button class="btn btn-primary"> View Payments</button>
    <br/><br/>
    <a role="button" href="/logout" class="btn btn-primary"> Logout </a>
    <div class="row">
        <div th:switch="${books.size()}">
            <h2 th:case="0">No books yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Books</h2>
                <div class="row md-1" style="margin-bottom: 15px;">
                    <div class="card" th:each="book : ${books}"
                         style="width: 12rem ; margin-right: 1rem ; text-align:center">
                        <img th:src="${book.image}" style="width: 10rem;" class="card-img-top" alt="book image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${book.name}"></h5>
                            Quantity: <span th:text="${book.quantity}"></span> <br/>
                            Price:
                            <span th:with="result=${book.price - book.price * book.discount / 100}">
                                <span th:text="${result}"></span>₪
                            </span>
                            <small th:if="${book.discount} > 0" style="text-decoration: line-through;">
                                <span th:text="${book.price}"></span>₪
                            </small> <br/>
                            <a th:href="@{/admin/delete/{id}(id=${book.id})}" class="btn btn-primary"><i
                                    class="fas fa-user-times ml-2"></i>Delete</a>

                            <form action="#" th:action="@{/admin/editBook}" th:object="${book}" method="post">
                                <input type="hidden" name="id" th:value="${book.id}">
                                <input class="btn btn-primary" type="submit" value="Edit"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div th:text="${currEdit}"></div>-->
    <!--    <span th:insert="bookForm.html :: bla"></span>-->

    <!--    style="width: 143px; height: 143px"-->

    <!--    -------------------------------  -->

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous">
</script>
</body>
</html>

<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function ()-->
<!--    {-->
<!--        if(document.getElementById("errors").innerHTML === true)-->
<!--        {-->
<!--            document.getElementById("collapseAddBook").classList.add("show")-->
<!--            document.getElementById("addBookBtn").ariaExpanded = "true"-->
<!--        }-->
<!--    })-->
<!--</script>-->