<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Welcome to the book store</h1>

    <div class="row">
        <div th:switch="${discountBooks.size()}">
            <h2 th:case="0">No books yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Top 5 Discount Books</h2>
                <div class="row md-1" style="margin-bottom: 15px;">
                    <div class="card"  th:each="book : ${discountBooks}" style="width: 12rem ; margin-right: 1rem ; text-align:center">
                        <img th:src="${book.image}" style="width: 10rem;" class="card-img-top" alt="book image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${book.name}"></h5>
                            Quantity: <span th:text="${book.quantity}"></span> <br/>
                            Price: <span th:text="${book.price}"></span> ₪ <br/>
                            Discount: <span th:text="${book.discount}"></span> <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>