<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

<a th:href="@{/emptyCart}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i>Empty Cart</a>

<div class="row">
    <div th:switch="${books.size()}">
        <h2 th:case="0">Empty Cart!</h2>
        <div th:case="*">
            <h2>Cart</h2>
            <h5>
                Total Payment:
                <span th:text="${totalPay}"></span>₪
            </h5></br>
            <a th:href="@{/pay}" class="btn btn-primary">Checkout</a>
            <div class="row md-1" style="margin-bottom: 15px;">
                <div class="card"  th:each="book : ${books}" style="width: 12rem ; margin-right: 1rem ; text-align:center">
                    <img th:src="${book.image}" style="width: 10rem;" class="card-img-top" alt="book image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${book.name}"></h5>
                        Price:
                        <span th:with="result=${book.price - book.price * book.discount / 100}">
                                <span th:text="${result}"></span>₪
                            </span>
                        <small th:if="${book.discount} > 0" style="text-decoration: line-through;">
                            <span th:text="${book.price}"></span>₪
                        </small> <br/>
                        <span th:if="${book.quantity} == 0"> Out of Stock </span>
                        <a th:href="@{/removeFromCart/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i>Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous">
</script>
